.deleteBtn{
    display: none;
}

.movCont:hover .deleteBtn{
    display: block;
    cursor: pointer;
}

.deleteBtn:hover{
    font-weight: bolder;
    font-size: 20px;
}

.deleteBtn:active{
    color:red;
    user-select: none;
}